<div id="total-amount-div">
  <%= render "total_amount", { donation_total: donation_total } %>
</div>

<div id="latest-donations-div">
  <%= render "latest_donations", { donations: donations } %>
</div>
